.button-base {
    border-radius: var(--radius-2);
    border: none;
    padding: 0.438rem 1.375rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: var(--font-size-3);
    font-weight: 600;
    line-height: 120%;
    width: 100%;
    text-align: center;
}

.button-brand-1 {
    background-color: var(--color-brand-100);
    border: 1px solid var(--color-brand-100);
    color: var(--color-grey-800);
}
.button-brand-1:hover {
    background-color: var(--color-brand-200);
    border: 1px solid var(--color-brand-200);
}
.button-brand-1:disabled {
    opacity: 40%;
    cursor: default;
}
.button-brand-1:disabled:hover {
    background-color: var(--color-brand-100)
}

.button-brand-2 {
    background-color: transparent;
    border: 1px solid var(--color-brand-200);
    color: var(--color-brand-200);
}
.button-brand-2:hover {
    background-color: var(--color-brand-200);
    color: var(--color-grey-800);
}

/* style btn sector */
.sector-btn {
    border: 1px solid var(--color-brand-200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.35rem 1rem;
    cursor: default;
    max-width: 60%;
} 


/* style btn menu */
.button-menu-icon {
    border: none;
    background-color: transparent;
    display: flex;
}

.button-menu-icon:hover {
    opacity: 40%;
}


.icon-search {
    animation: searchAnimate 4s linear infinite;
}


/* Style btn edit */
.button-edit {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.button-edit > img {
    width: 1.25rem;
}

.button-close {
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.button-close > img {
    width: 1.125rem;
}


@keyframes searchAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}