/* Style card departmen */
.department {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-brand-100);
    padding: 1rem 0.5rem;
    position: relative;
    padding-right: 1.875rem;
    width: 16rem;
    background-color: var(--color-grey-900);
    height: 8rem;
}

.infor-department {
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
}
.infor-department > h3 {
    width: 13rem;
}

.nav-btns {
    display: none;
    flex-direction: column;
    gap: 0.85rem;
    animation: showMenuCard 1s ease;
}

/* Style card user registered */
.user-registered {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-brand-100);
    padding: 1rem 0.5rem;
    padding-right: 1.875rem;
    width: 13rem;
    background-color: var(--color-grey-900);
}

.infor-user-registered {
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
}

.infor-user-registered > h3 {
    width: 10rem;
}