@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
    --color-brand-100: #0e1f40;
    --color-brand-200: #274e9c;
    --color-brand-300: #ff3e9d;
    --color-brand-400: #ff0078;
    --color-grey-100: #212529;
    --color-grey-200: #2d2d33;
    --color-grey-300: #393940;
    --color-grey-400: #474750;
    --color-grey-500: #a1a1a7;
    --color-grey-700: #F8F8F8;
    --color-grey-800: #f3f3f3;
    --color-grey-900: rgba(243, 243, 243, 0.8);
    --color-feedback-alert: #c92a2a;
    --color-feedback-sucess: #087f5b;
    --color-feedback-warning: #f08c00;
    --color-feedback-disable: #c6c7cd;

    --font-size-1: 2rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: 0.875rem;

    --radius-1: 0.75rem;
    --radius-2: 0.5rem;
    --radius-3: 0.25rem;
    --radius-50: 50%;

    --gap-1: 1.75rem;
    --gap-2: 1.5rem;
    --gap-3: 1.25rem;
    --gap-4: 1rem;
    --gap-5: 0.875rem;
    --gap-6: 0.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
}