.input-base {
    border: 1px solid var(--color-grey-500);
    border-radius: var(--radius-3);
    outline: none;
    padding: 0.68rem 1.375rem;
    font-size: var(--font-size-4);
    font-weight: 400;
    line-height: 120%;
    width: 100%;
}

.input-base::placeholder {
    font-size: var(--font-size-5);
    color: var(--color-grey-500);
}

select {
    border: 1px solid var(--color-grey-500);
    outline: none;
    padding: 0.68rem 1.375rem;
    font-size: var(--font-size-5);
    font-weight: 400;
    line-height: 120%;
    width: 100%;
}

.select-selected {
    color: var(--color-grey-500);
}

select > option {
    color: var(--color-grey-100);
}

select > option:nth-child(1) {
    color: var(--color-grey-500);
}