/* Style Header */
.container-header {
    box-shadow: 0px 5px 10px -11px black;
    margin-bottom: 1.375rem;
    width: 100%;
    height: 100%;
}

.container-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    padding: 0.875rem;
}

.nav-header {
    display: none;
    justify-content: space-between;
    gap: var(--gap-6);
    width: 100%;
    animation: 0.7s showMenu ease;
}

.nav-show {
    display: flex;  
}

/* Style Main */
.container-main {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    padding: 0 0.875rem;
}

.container-user-infor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    border: 1px solid var(--color-grey-600);
    border-radius: var(--radius-3);
    padding: 1rem;
}

.container-user-infor > h2 {
    max-width: 60%;
}

.container-job-infor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
}

.container-job-infor > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brand-100);
    color: white;
    line-height: 200%;
}

.list-co-workers {
    height: 100%;
    background-color: var(--color-grey-800);
    display: flex;
    padding: 1rem;
    gap: 1rem;
    overflow-x: auto;
}

.co-workers {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-grey-600);
    border-radius: var(--radius-3);
    background-color: #fff;
    padding: .5rem;
}

.co-workers > h3 {
    width: 200px;
}

.container-empty {
    height: 9.375rem;
    background-color: var(--color-grey-700);
    border: 1px solid var(--color-grey-500
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-edit-modal {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.form-edit-modal > button {
    margin-top: .75rem;
}


@media (min-width: 700px) {
    /* style header desktop */
    .container-header {
        height: 5rem;
        margin-bottom: 2.75rem;
    }

    .button-menu-icon {
        display: none;
    }

    .container-content-header {
        flex-wrap: nowrap;
        padding: 0;
    }

    .nav-header {
        width: 10%;
        display: flex;
        animation: none;
    }


    /* style main desktop */
    .container-main {
        padding: 0 0 2rem 0;
    }

    .list-infor {
        display: flex;
        gap: 9.375rem;
    }

    .button-edit {
        top: 40%;
        right: 2rem;
    }

    .container-job-infor {
        height: 468px;
    }

    .container-job-infor > h1 {
        line-height: 80px;
        font-size: var(--font-size-2);
    }

    .list-co-workers {
        flex-wrap: wrap;
        padding: 3.625rem;
    }

    .co-workers {
        width: 19.875rem;
        max-height: 100px;
        justify-content: space-between;
    }

    .container-empty {
        height: 29.25rem;
    }

    .container-empty > h1 {
        font-size: var(--font-size-1);
    }

}


@keyframes showMenu {
    0%{
        margin-top: -20%;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}
