/* Style Header */
.container-header {
    box-shadow: 0px 5px 10px -11px black;
    margin-bottom: 1.375rem;
    width: 100%;
    height: 100%;
}

.container-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    padding: 0.875rem;
}

.nav-header {
    display: none;
    justify-content: space-between;
    gap: var(--gap-6);
    width: 100%;
    animation: 0.7s showMenu ease;
}

.nav-show {
    display: flex;  
}

/* Style Main*/
.container-main {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    padding: 0 0.875rem;
}

.container-list-department {
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
    position: relative;
}

#button-create {
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
}

.container-list-department > select {
    margin-top: 1.25rem;
}

.list-department {
    display: flex;
    gap: var(--gap-1);
    overflow-x: auto;
    background-color: var(--color-grey-800);
    padding: 1rem;
}

.list-department-empty {
    align-items: center;
    justify-content: center;
}

.container-user-registered {
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
}

.container-user-registered > h1 {
    text-align: center;
}

.list-user-registered {
    display: flex;
    gap: var(--gap-1);
    overflow-x: auto;
    background-color: var(--color-grey-800);
    padding: 1rem;
}

/* Style Select */
select {
    text-align: center;
    cursor: pointer;
    outline: none;
}

option {
    background-color: var(--color-grey-800);
    color: var(--color-brand-200);
    cursor: pointer;
}

.form-create-modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#company_uuid {
    width: 100%;
}

.textarea-edit {
    width: 100%;
    height: 6.875rem;
    border: 1px solid var(--color-grey-700);
    resize: none;
    outline: none;  
    padding: 1rem;
}

.modal-visibility {
    width: 53.125rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

.modal-visibility > header {
    display: flex;
    justify-content: space-between;
}

.container-company-infor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div-select {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 56%;
}

.div-select > select {
    width: 100%;
}

.list-user-dep {
    height: 18.125rem;
    width: 100%;
    background-color: var(--color-grey-800);
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
}

.user-dep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-grey-700);
    width: 18.75rem;
    height: 11.375rem;
    padding: 1rem;
}

.user-dep > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    height: 60%;
    width: 100%;
}

.user-dep > div > h2 {
    width: 200px;
}

.user-dep > button {
    width: 70%;
}

@media (min-width: 700px) {
    ::-webkit-scrollbar {
        overflow: hidden;
        width: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-brand-200);
        border-radius: var(--radius-1);
    }

    /* style header desktop */
    .container-header {
        height: 5rem;
        margin-bottom: 2.75rem;
    }

    .button-menu-icon {
        display: none;
    }

    .container-content-header {
        flex-wrap: nowrap;
        padding: 0;
    }

    .nav-header {
        width: 10%;
        display: flex;
        animation: none;
    }

    /* Style Main desktop */
    body {
        padding-bottom: 50px;
        position: relative;
    }
    .container-list-department {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #select-company {
        width: 30%;
    }

    #button-create {
        position: static;
        width: 10%;
        text-align: center;
        height: 40px;
    }

    .list-department {
        margin-top: 1.25rem;
        flex-wrap: wrap;
        padding: 2.125rem 3.5rem;
        gap: var(--gap-1);
        height: 20.625rem;
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .list-department-empty {
        align-items: center;
        justify-content: center;
    }

    .list-user-registered {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap-1);
        padding: 2.125rem 3.5rem;
        max-height: 330px;
        overflow-y: auto;
    }

    .user-registered {
        width: 16rem;
    }
}


@keyframes showMenu {
    0%{
        margin-top: -20%;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}


@keyframes showMenuCard {
    0% {
       opacity: 0;
       margin-right: -12%;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}